<html>
    <head><h1>¡Bienvenido a Cosmico Enterprises!</h1></head>
    <body>
        Nos enorgullecemos por nuestro sistema ferroviario de Europa occidental innovador. Nuestros servicios incluyen:<br/>
        <a href="http://localhost:5000/registro">¿Nuevo cliente? Regístrese.</a><br/>
        <a href="http://localhost:5000/mapa">Mapa de nuestro sistema.</a><br />
        <a href="http://localhost:5000/estaciones">Reporte de ciudades que manejamos.</a><br />
        <a href="http://localhost:5000/planearViaje">Planee su viaje con nosotros.</a><br />
    </body>
</html>